<app-navbar></app-navbar>

<div class="img-container">
  <img src="assets/images/main.png" alt="Your Image" class="img-fluid" />
  <div class="image-text">
    WELCOME
    <h1>To Airline</h1>
    <h1>RESERVATION SYSTEM</h1>
  </div>
</div>

<div class="container">
  <h3>Top Routes and Destinations</h3>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/images/a1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Air France</h5>
          <hr />
          <p class="card-text">
            Major French airline with a vast global network operating across Europe, Africa, Asia, and the Americas. Hub at Paris Charles de Gaulle Airport.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/images/a2.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Air India</h5>
          <hr />
          <p class="card-text">India's flagship carrier serving both domestic and international destinations globally from hubs in Mumbai and Delhi.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/images/a3.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Air Canada</h5>
          <hr />
          <p class="card-text">
            National airline of Canada offering extensive domestic and international routes connecting major cities like Toronto and Vancouver.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="assets/images/a4.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Oman Air</h5>
          <hr />
          <p class="card-text">
            Oman's national airline connecting the Middle East, Asia, Africa, and Europe from its hub in Muscat.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
