<div id="sidebar-wrapper">
    <div class="sidebar-title">As Admin</div>
    <ul class="sidebar-nav">
      <li class="active">
        <a routerLink="admin-dashboard">Dashboard</a>
      </li>
      <li class="active">
        <a routerLink="add-employee"> Add Employee</a>
      </li>
      <li class="active">
        <a routerLink="view-employee">View Employee</a>
      </li>
      <li class="active">
        <a routerLink="/sign-in"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
      </li>
      <!-- Other sidebar options -->
    </ul>
  </div>
  