/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Sidebar */
  #sidebar-wrapper {
    width: 250px;
    height: 100%;
    background-color: #343a40; /* Sidebar background color */
    position: fixed;
    overflow-y: auto;
    transition: all 0.3s;
  }
  
  .sidebar-title {
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff; /* Title color */
    background-color: #292b2c; /* Title background color */
    border-bottom: 1px solid #454d55;
  }
  
  .sidebar-nav {
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
  }
  
  .sidebar-nav li {
    margin-bottom: 8px;
  }
  
  .sidebar-nav .option a {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    display: block;
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar-nav .option a i {
    margin-right: 10px;
  }
  
  .sidebar-nav .option a:hover {
    background-color: #495057; /* Hover background color */
    color: #fff; /* Hover text color */
  }
  /* Add this CSS to style the sidebar options as buttons */
/* CSS to make text bold for sidebar options */
.sidebar-nav a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold; /* Add this line to make the text bold */
  }
  
  .sidebar-nav a:hover {
    background-color: #495057;
    color: #fff;
  }
  
  