<app-navbar></app-navbar>

<div class="about-section paddingTB60 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="about-title">
          <h1>About Airline Ticket Management System</h1>
          <p>
			The <b> Airline Ticket Management System </b> is a cutting-edge solution revolutionizing airline ticketing and reservation processes. Designed for both airlines and passengers, our system ensures efficient booking, management, and tracking, offering a seamless journey from reservation to boarding.
          </p>
		  <p>
			For passengers, our system simplifies account creation and flight searches, streamlines booking and payment processes, and provides instant e-ticket confirmations and real-time updates.</p>
          <p>
            Airlines benefit from advanced management tools, including flight and passenger management, baggage tracking, comprehensive reporting, and customer support features.
          </p>
		  <p>
			We prioritize security, accessibility, multi-language support, and integration with external systems, aiming to redefine the airline industry's standards.
		  </p>
		  <p>
			The <b> Airline Ticket Management System </b> is committed to delivering an intuitive, efficient, and customer-centric solution, transforming the air travel experience for all stakeholders.
		  </p>
        </div>
        <div class="about-icons">
          <ul>
            <li>
              <a href="https://www.facebook.com/">
                <i class="fa fa-facebook-square fa-3x social"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/">
                <i class="fa fa-twitter-square fa-3x social"></i>
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/">
                <i class="fa fa-google-plus-square fa-3x social"></i>
              </a>
            </li>
            <li>
              <a href="mailto:bootsnipp@gmail.com">
                <i class="fa fa-envelope-square fa-3x social"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="about-img">
          <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt=""/>
        </div>
      </div>
    </div>
  </div>
</div>
