/* about.component.css */

.paddingTB60 { padding: 60px 0; }
.gray-bg { background: #F1F1F1; }
.about-title h1 { color: #535353; font-size: 45px; font-weight: 600; }
.about-title span { color: #AF0808; font-size: 45px; font-weight: 700; }
.about-title h3 { color: #535353; font-size: 23px; margin-bottom: 24px; }
.about-title p { color: #7a7a7a; line-height: 1.8; margin: 0 0 15px; }
.about-icons { margin: 48px 0; }
.about-icons i { margin-right: 10px; padding: 0; font-size: 35px; color: #323232; }
.about-icons li { margin: 0; padding: 0; display: inline-block; }
.about-icons a:hover i { transition: all 0.3s ease-in-out; }
