/* Custom CSS for responsive table */
.container-fluid {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

.table-responsive {
  margin-top: 20px;
  overflow-y: auto;
  height: 400px;
  width: 90%;
}
